.with-margin {
    margin: 15px !important;
}

.with-padding {
    padding: 15px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline-block {
    display: inline-block;
}

.widget {
    width: 100%;
    border-radius: 0px !important;
    cursor: pointer;
}
.widget:hover {
    box-shadow: 0px 2px 4px #999;
}
