.jumbotron {
    background: black url('../img/jumbotron.jpg') no-repeat scroll right;
    color: white;
    background-size: 85%;
}
.jumbotron p {
    font-weight: 100 !important;
    font-size: 20px;
}

.with-margin {
    margin: 15px !important;
}

.with-horizontal-margin {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.with-padding {
    padding: 15px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline-block {
    display: inline-block;
}

.widget {
    width: 100%;
    border-radius: 0 !important;
}

tr.selected {
    background: #e3fcf7 !important;
}

.clickable {
    cursor: pointer;
}

.progress {
    background: #fff !important;
}

/*.navbar-default {*/
    /*box-shadow: 0 3px 7px 1px #d4d8db;*/
/*}*/

.profile-photo img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 0 16px 16px 0;
}

nav .profile-photo img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.winners-stand .profile-photo img {
    margin: 10px auto;
}

.container-fluid {
    padding: 0 !important;
}

.jumbotron {
    border-radius: 0 !important;
    margin-top: -21px;
}

.alert {
    border-radius: 0 !important;
    margin-top: -21px;
}

#profileChartWrapper {
    height: 300px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pager {
    background-color: #ecf0f1;
    border-radius: 15px;
}

.pager li.right a {
    border-radius: 0 15px 15px 0;
}

.pager li.left a {
    border-radius: 15px 0 0 15px;
}

.winners-stand {
    margin-bottom: 15px;
}

.list-group-item {
    overflow: hidden !important;
    padding-left: 30px !important;
}

.list-group-item-lt-info {
    background-color: #d6efff;
}

.col-options {
    display: block;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 10px;
    bottom: 15px;
    z-index: 150;
}

@media (min-width: 768px) {
    .h6-large {
        font-size: 16px;
    }
}

.text-lt-success {
    color: #d6fff6;
}
