.with-margin {
    margin: 15px !important;
}

.with-padding {
    padding: 15px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.inline-block {
    display: inline-block;
}

.widget {
    margin-left: 15px;
    width: 45%;
    cursor: pointer;
}
