@import '../variables';

.profile-head {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 32px 32px;
  grid-template-areas:
          "photo username"
          "photo title";
  width: 100%;
  height: auto;
  grid-column-gap: @padding-base-horizontal;
  grid-row-gap: @padding-base-vertical;
  margin-bottom: @padding-base-vertical;

  & .profile-photo {
    grid-area: photo;
    //margin: @padding-base-vertical 0;
    & img {
      border-radius: 32px;
      width: 64px;
      height: 64px;
    }
  }
  & h1 {
    grid-area: username;
    margin: 0;
    font-size: @font-size-h2;
  }
  & h2 {
    grid-area: title;
    margin: 0;
    font-size: @font-size-h4;
  }

  @media (max-width: 768px) {
    text-align: center;

    & h1 {
      display: block;
      font-size: @font-size-h3;
    }
    & h2 {
      display: block;
      font-size: @font-size-h5;
    }
  }
}

#profileChartWrapper {
  height: 300px;
}

.nav.nav-tabs li a p {
  margin-bottom: 0;
}

.xs-text-small {
  @media (max-width: 768px) {
    & {
      font-size: 0.6 * @font-size-base;
    }
  }
  @media (max-width: 640px) {
    & {
      display: none;
    }
  }
}

.winners-stand {
  & .profile-photo img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
  }
}
