.profile-photo img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 0 16px 16px 0;

  nav & {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .winners-stand & {
    margin: 10px auto;
  }
}

#profileChartWrapper {
  height: 300px;
}
